<% if message.sender.owner == current_person %>
  <% other_dog = message.recipient %>
  <h2>Sent to <%= name_link other_dog %></h2>
<% else %>
  <% other_dog = message.sender %>
  <h2>Sent by <%= name_link other_dog %></h2>
<% end %>
<div><%= name_link message.sender %></div>
<div class="status-mail">
  <%= email_link other_dog, :replying_to => message %>
</div>
