<h2>Owner's Profile</h2>
<%- if current_person?(@person) || current_person.admin? -%>
  <div class="button_container">
<%- end -%>
<%- if current_person.admin? -%>
  <%- activity = activated_status(@person)  -%>
  <%= link_to activity,
              admin_person_path(@person, :task => "deactivated"),
              :method => :put %>
  <%= "|" if current_person?(@person) %>
<%- end -%>
<%- if current_person?(@person) -%>
  <%= link_to "Edit owner profile", edit_person_path(@person) %>
<%- end -%>
<%- if current_person?(@person) || current_person.admin? -%>
    <div class="clear"></div>
  </div>
<%- end -%>
<%- if admin? and not @person.active? -%>
  <p class="error">This person is not active</p>
<%- end -%>

<div class="toolbox">
</div>