<div id="profile" style="display: none;">
  <% tabs = TabsRenderer.new(self, :id => "tabCol") %>
  <% tabs.create('tProfile', 'Profile', :class => "profile vcard") do %>
    <%= render :partial => 'profile' %>
    <div class="clear"></div>
  <% end %>

  <% tabs.create('tDogs', 'Dogs') do %>
    <%= render :partial => 'dogs' %>
    <div class="clear"></div>
  <% end %>

  <%= tabs.render %>
</div>
<script type='text/javascript'>
  $(document).ready(function() {
    // Set up the tabs.
    $("#tabCol").tabs();
    $("#profile").show();
  })
</script>