<%- unless current_person?(@dog.owner) or @common_contacts.empty? -%>
    <h2>Common Contacts</h2>
    

    <%- if @common_contacts.length > Dog::MAX_DEFAULT_CONTACTS -%>
        <div class="button see_all_link">
          <%= link_to "See All",
                      common_contacts_dog_path(@dog) %>
        </div>
    <%- end -%>    
    <ul class="grid contacts medium">
      <%- @some_common_contacts.each do |contact| -%>
        <%= render :partial => 'shared/contact_medium',
                   :locals => { :contact => contact } %>
      <%- end -%>
    </ul>
<%- end -%>