<%- if @dog.recent_activity.empty? -%>
  <h2>No recent activity</h2>
<%- else -%>
  <h2><%= @dog.name %>'s Recent Activity</h2>

  <%- unless @dog.owner.last_logged_in_at.nil? or current_person?(@dog.owner) -%>
    <p class="meta">
      <%= @dog.name %> last logged in 
      <%= time_ago_in_words(@dog.owner.last_logged_in_at) %> ago
    </p>    
  <%- end -%>
  
  <ul class="list activity">
     <%= render :partial => 'shared/activity',
                :collection => @dog.recent_activity,
                :locals => { :destroy => current_person?(@dog.owner),
                             :recent => true } %>
  </ul>
<%- end -%>
