<h1>Editing breed</h1>

<% form_for(@breed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @breed %> |
<%= link_to 'Back', breeds_path %>