<%- unless dog.some_contacts.empty? -%>
  <h2>Contacts</h2>
  <ul class="grid contacts small">
    <%- dog.some_contacts.each do |contact| -%>
    <%= render :partial => 'shared/contact', :locals => {:contact => contact} %>
    <%- end -%>
    <li class="more">
      <%= link_to "All contacts &raquo;", dog_connections_path(dog) %>
    </li>
  </ul>
<%- end -%>