<%- column_div :type => :primary do -%>
<h2>Events</h2>

<ol class="list full">
  <%= render :partial => "shared/event", :collection => events %>
</ol>

<% end -%>

<% column_div :type => :secondary do -%>
  <%= render :partial => 'shared/calendar',
             :locals => { :events => month_events, :date => date } %>

  <h2>Add new event</h2>
  <%= link_to "Click here", new_group_event_path(group) %>
<% end -%>