<div id="footer">
  <p id="footer-nav">
    <a href="/">Dashboard</a> | <a href="/messages">My Messages</a> | <a href="/dogs">Dogs</a> | <a href="/groups">Groups</a> | <a href="/events">Events</a> | <a href="/forums">Forum</a> | <a href="/tos">Terms of Service</a> | <a href="/privacy">Privacy Policy</a> | <a href="mailto:support@barkhood.com">Contact Us</a>
  </p>
  <p>
  	&copy; <%=h Time.now.year %> All Rights Reserved.  A service of <a href="http://www.prilet.com/">Prilet Consulting, Inc.</a>
  </p>
</div>